# Rust
/target/
**/*.rs.bk

# Node.js
node_modules/
dist/
.output/
.nuxt/

# IDEs
.idea/
.vscode/
*.swp
*.kdev4
.user
.directory

# OS
.DS_Store
Thumbs.db

# Private / Critical
.antigravitycli/
secrets/
run/
.env

# Tauri
crates/gui/src-tauri/target/

crates/gui/src-tauri/gen/