# Each crate is owned by kairosci

/crates/auth/ @kairosci
/crates/config/ @kairosci
/crates/core/ @kairosci
/crates/fs/ @kairosci
/crates/gui/ @kairosci
/crates/http-cache/ @kairosci
/crates/java/ @kairosci
/crates/logging/ @kairosci
/crates/minecraft/ @kairosci
/crates/net/ @kairosci
